html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  background: url(./assets/cover.png)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
